﻿@using Web.Models
@model User

@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>
<div class="col-md-6 table-responsive table-dark">
    <table class="table table-hover table-striped table-sm">
        <tr>
            <th>Fields</th>
            <th>Values</th>
        </tr>
        @using (Html.BeginForm()) {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <tr>
                <td>@Html.DisplayNameFor(model => model.Id)</td>
                <td>
                    @Html.DisplayFor(model => model.Id)
                    @Html.HiddenFor(model => model.Id)
                    @Html.ValidationMessageFor(model => model.Id) 
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.UserName)</td>
                <td>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @style="background-color: gray", @readonly = "readonly" }}) 
                    @Html.ValidationMessageFor(model => model.UserName) 
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Password)</td>
                <td>
                    @Html.PasswordFor(model => model.Password, new {@class="form-control", placeholder="Password", autofocus = true })
                    @Html.ValidationMessageFor(model => model.Password) 
                </td>
            </tr>
            <tr> 
                <td colspan="2" align="left">
                    <button type="submit" class="btn btn-sm btn-primary" value="Save"><i data-feather="save"></i> Save</button>
                </td>
            </tr>
        }
        @using (Html.BeginForm("Delete", "User", new { Id = @Model.Id })) {
            @Html.HttpMethodOverride(HttpVerbs.Delete)

            <input type='hidden' id='hiddenPage' name='hiddenPage' value='new'/>
            <button type="submit" value="Delete" class="btn btn-sm btn-danger" onclick="return confirm('Delete @Model.Id @Model.UserName');"><i data-feather="trash-2"></i></button>
        }
    </table>
</div>

@if(ViewBag.Updated==true) {
    <div class="alert alert-success" >             
        <strong>Thank you!</strong> Your query has been submitted. 
    </div>
}
<script>
    function setActiveTab() {
        $("#li_user").addClass("active");
    }
</script>
