﻿@model Web.Models.User

@{
    ViewBag.Title = "New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>

@using (Html.BeginForm()) {
  <div class="row">
    <div class="col-md-6 table-responsive">
        <table class="table table-hover table-striped table-sm">
            <thead class="table-secondary">
                <tr>
                    <th>Fields</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.UserName)</td>
                    <td>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { autofocus = true }}) 
                        @Html.ValidationMessageFor(model => model.UserName) 
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Password)</td>
                    <td>
                        @Html.PasswordFor(model => model.Password, new {@class="form-control", placeholder="Password"}) 
                        @Html.ValidationMessageFor(model => model.Password) 
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-sm btn-primary" value="Create User"><i data-feather="save"></i> Create User</button>
        <span> <a href="@Url.Action("Login", "Session")">&nbsp<b> Go Back </b></a></span>
    </div>
  </div>
}

<script>
    function setActiveTab() {
        $("#li_users").addClass("active");
    }
</script>
