﻿@model Web.Models.User

<h4>Sign in to HPCShelf Application</h4>

@using (Html.BeginForm()) {
  <div class="row">
    <div class="col-md-6 table-responsive">
        <table class="table table-hover table-striped table-sm">
            <thead class="table_head">
                <tr>
                    <th>Fields</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.UserName)</td>
                    <td>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { autofocus = true }}) 
                        @Html.ValidationMessageFor(model => model.UserName) 
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Password)</td>
                    <td>
                        @Html.PasswordFor(model => model.Password, new {@class="form-control", placeholder="Password"}) 
                        @Html.ValidationMessageFor(model => model.Password) 
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-sm btn-primary" value="Login"><i data-feather="key"></i> Login</button>
        <span> <a href="@Url.Action("New", "User")">&nbsp<b>Don't have an account?</b></a></span>
    </div>
  </div>
}

<script>
    function setActiveTab() {
        $("#li_users").addClass("active");
    }
</script>
