﻿@model Web.Models.Job

@{
    ViewBag.Title = "Job " + @Model.Id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>

@using (Html.BeginForm()) {
  <div class="row">
    <div class="col-md-6 table-responsive">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <table class="table table-hover table-striped table-sm">
            <thead class="table_head">
                <tr>
                    <th>Fields</th>
                    <th>Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Id)</td>
                    <td>
                        @Html.DisplayFor(model => model.Id)
                        @Html.ValidationMessageFor(model => model.Id) 
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.UserId)</td>
                    <td>
                        @Html.DisplayFor(model => model.UserId) 
                        @Html.HiddenFor(model => model.UserId) 
                        @Html.ValidationMessageFor(model => model.UserId) 
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.JobName)</td>
                    <td>
                        @Html.EditorFor(model => model.JobName) 
                        @Html.ValidationMessageFor(model => model.JobName) 
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Birth)</td>
                    <td>
                        @Html.DisplayFor(model => model.Birth) 
                        @Html.HiddenFor(model => model.Birth) 
                        @Html.ValidationMessageFor(model => model.Birth) 
                    </td>
                </tr>
                <!-- @*
                <tr>
                    <td>@Html.LabelFor(model => model.UserId)</td>
                    <td>
                        @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control", @style="background-color: gray", @readonly = "readonly" }}) 
                        @Html.ValidationMessageFor(model => model.UserId) 
                    </td>
                </tr>
                
                <tr>
                    <td>@Html.LabelFor(model => model.UserId, "User")</td>
                    <td>
                        @Html.DropDownListFor(model => model.UserId, new SelectList(ViewBag.UsersNames, "Value", "Text")) 
                        @Html.ValidationMessageFor(model => model.UserId) 
                    </td>
                </tr>
                
                *@ -->
            </tbody>
        </table>
        @if(@Session["user_id"].Equals(@Model.UserId)) {
            <button type="submit" class="btn btn-sm btn-primary" value="Save"><i data-feather="save"></i> Save</button>
        }
    </div>
  </div>
}

<script>
    function setActiveTab() {
        $("#li_job").addClass("active");
        //$('#Birth').datepicker({ dateFormat: 'dd/mm/yy' }).val();
    }
</script>

