﻿@using Web.Models;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList < Job >

@{ ViewBag.Title = "Jobs Queue";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>

<div class="table-responsive">
	<table class="table table-hover table-striped table-sm">
		<thead class="table_head">
			<tr>
                <td>@Html.DisplayNameFor(model => model.First().Id)</td>
				<td>@Html.DisplayNameFor(model => model.First().JobName)</td>
				<td>@Html.DisplayNameFor(model => model.First().User.UserName)</td>
				<td>@Html.DisplayNameFor(model => model.First().Birth)</td>
				<td>Details</td>
				<td>Edit</td>
				<td>Delete</td>
			</tr>
		</thead>
		<tbody>
    		@foreach(Job p in @Model) { 
    			<tr>
                    <td>@p.Id</td>
    				<td>@p.JobName</td>
    				<td>@p.User.UserName</td>
    				<td>@p.Birth</td>
    				<td>
                        <a href="@Url.Action("Show", "Job", new { Id = p.Id })"> <button class="btn btn-sm btn-info"><i data-feather="list"></i></button> </a>
    				</td>
    				<td>
                        @if(@Session["user_id"].Equals(@p.UserId)) {
                            <a href="@Url.Action("Edit", "Job", new { Id = p.Id })" >
                                <button class="btn btn-sm btn-success"><i data-feather="edit"></i></button>
                            </a>
                        } else { <button class="btn btn-sm btn-secondary" disabled="true"><i data-feather="edit"></i></button> }
                    </td>
    				<td>
    				@using (Html.BeginForm("Delete", "Job", new { Id = p.Id })) {
                        @Html.HttpMethodOverride(HttpVerbs.Delete)

    					<input type='hidden' id='hiddenPage' name='hiddenPage' value='@Request.QueryString["page"]'/>
                        if(@Session["user_id"].Equals(@p.UserId)) {
                            <button type="submit" value="del" class="btn btn-sm btn-danger" onclick="return confirm('Delete @p.JobName @p.UserId');"><i data-feather="trash-2"></i></button>                    
                        } else {<button value="del" class="btn btn-sm btn-secondary" disabled="true"><i data-feather="trash-2"></i></button>}
                    }
    				</td>
    			</tr>
    		}
		</tbody>
	</table>
	@Html.PagedListPager( Model , page => Url.Action("Index", new { page }))
	@* @Html.ActionLink("Create New", "New", "Job", null, new { @class = "btn btn-sm btn-success"}) *@    
    <a href="@Url.Action("New", "Job")"> <button class="btn btn-sm btn-success"><i data-feather="plus"></i> Create New</button> </a>
    
</div>

<script>
    function setActiveTab() {
    	$("#li_job").addClass("active");
    }
</script>
