﻿@model Web.Models.Job

@{
    ViewBag.Title = "Create a Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>
<div class="row col-md-6 table-responsive">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <table class="table table-hover table-striped table-sm">
            <thead class="table_head">
                <tr>
                    <th>Fields</th>
                    <th>Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.JobName)</td>
                    <td>
                        @Html.EditorFor(model => model.JobName) 
                        @Html.ValidationMessageFor(model => model.JobName) 
                    </td>
                </tr>
                
                <tr>
                    <td>@Html.LabelFor(model => model.UserId, "Owner User")</td>
                    <td>
                        @Html.DropDownListFor(model => model.UserId, new SelectList(ViewBag.UsersNames, "Value", "Text")) 
                        @Html.ValidationMessageFor(model => model.UserId) 
                    </td>
                </tr>
                
                <!-- @*
                <tr>
                    <td>@Html.LabelFor(model => model.Birth, "Birthday about")</td>
                    <td>
                        @Html.DisplayFor(model => model.Birth) 
                        @Html.HiddenFor(model => model.Birth)
                        @Html.ValidationMessageFor(model => model.Birth) 
                    </td>
                </tr> 
            
                <tr>
                    <td>@Html.DisplayNameFor(model => model.UserName)</td>
                    <td>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @style="background-color: gray", @Value = Session["user_username"], @readonly = "readonly" }}) 
                        @Html.ValidationMessageFor(model => model.UserName) 
                    </td>
                </tr>
                *@ -->
            </tbody>
        </table>
        <button type="submit" class="btn btn-sm btn-primary" value="Save"><i data-feather="save"></i> Save</button>
    }
</div>


<script>
    function setActiveTab() {
    	$("#li_job").addClass("active");
    }
</script>
