﻿@using Web.Models
@model Job


@{
    ViewBag.Title = "Job Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>
<div class="row">
    <div class="col-md-6 table-responsive">
        <table class="table table-hover table-striped table-sm">
            <thead class="table_head">
                <tr>
                    <th>Fields</th>
                    <th>Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Id)</td>
                    <td>@Html.DisplayFor(model => model.Id)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.JobName)</td>
                    <td>@Html.DisplayFor(model => model.JobName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.UserId)</td>
                    <td>@Html.DisplayFor(model => model.UserId)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Birth)</td>
                    <td>@Html.DisplayFor(model => model.Birth)</td>
                </tr>
            </tbody>

        </table>
        <a href="@Url.Action("Index", "Job")" > <button class="btn btn-sm btn-info" ><i data-feather="chevrons-left"></i></button> </a>
        @* @Html.ActionLink("Back", "Index", "Job", null, new { @class = "btn btn-primary"}) *@
    </div>
</div>

<script>
    function setActiveTab() {
    	$("#li_job").addClass("active");
    }
</script>
